.portada__blog {
  background-image: url(../assets/portadas/blog.jpg);
  background-position: center;
  background-size: cover;
  height: 75vh;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cont {
  margin: 50px 50px 25px 50px;
  display: flex;
  flex-wrap: row wrap;
  justify-content: center;

  &__card {
    border-radius: 10px;
    overflow: hidden;
    margin: 30px;
    width: 30%;
    height: 50vh;

    &__img {
      width: 100%;
      height: 70%;
      object-fit: cover;
      box-shadow: 0px 3px 5px #0d131a5d;
    }

    &__info {
      padding: 5px 10px 10px 2px;
      text-align: left;
      max-height: 30%;

      &__titulo {
        margin-bottom: 5px;
        font-size: 1.2rem;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        color: $c-black;
      }

      &__date {
        font-weight: 100;
        font-size: 0.8rem;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        color: $c-black;
      }
    }
  }
}

@media (max-width: 600px) {
  .portada__blog {
    height: 55vh;
    background-size: cover;
    background-attachment: scroll;
  }

  .cont {
    margin: 0 50px;
    flex-direction: column;
    align-content: center;

    &__card {
      border-radius: 10px;
      margin: 0px;
      width: 100%;
      margin-bottom: 30px;
      height: 35vh;

      &__info {
        padding: 5px 10px 10px 2px;

        &__titulo {
          font-size: 1.3rem;
        }

        &__date {
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .cont {
    margin: 0 50px;
    flex-direction: column;
    align-content: center;

    &__card {
      margin-right: auto;
      margin-left: auto;
      margin-top: 0px;
      margin-bottom: 0px;
      width: 75%;
      height: 40vh;
    }
  }
}
