.portada__suscribite {
  background-image: url(../assets/portadas/suscribite.jpg);
  background-position: center;
  background-size: cover;
  height: 75vh;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .portada__suscribite {
    height: 55vh;
    background-size: cover;
    background-attachment: scroll;
  }
}
