.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 80px;

  &__tittle {
    text-align: right;
    font-size: 1rem;
    font-weight: 800;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: $c-green;
  }

  &__box {
    border: 0.5px solid $c-black;
    border-radius: 3px;
    border-width: 0.5px;
    width: 70vw;
    height: 2rem;
    padding: 1px 10px;
    margin: 10px 0px;
    display: flex;
    justify-content: space-around;
  }

  &__check {
    margin-top: 30px;
    margin-right: 5px;

    &__text {
      color: $c-black;
      font-size: 1rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
    }
  }
}

input[type="checkbox"] {
  accent-color: $c-lightgreen;
}
