header {
  background-color: #fcfcfc;
  padding: 15px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    width: 50%;
    img {
      width: 36% !important;
    }
  }

  img {
    content: url(../../assets/logo/logodesktop.png);
    width: 18%;
  }

  nav {
    width: 50%;
  }

  ul {
    display: flex;
    justify-content: space-around;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #0d131a;

    li:hover {
      font-weight: 600;
    }
  }

  .split br {
    background-color: transparent;
  }
}

.split {
  background-color: #96a13a;
  height: 10px;
  width: 100%;
}

@media (max-width: 600px) {
  header {
    padding: 10px;

    a {
      width: 25%;
      img {
        width: 80% !important;
      }
    }

    img {
      content: url(../../assets/logo/logomobile.png);
      width: 20%;
    }

    nav {
      width: 75%;
    }

    ul {
      justify-content: right;
      font-size: small;

      li {
        margin: 5px;
        text-align: center;
      }
    }
  }
}
