header {
  background-color: $c-white;
  padding: 8px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;

  a {
    height: auto;
    width: auto;
  }

  .logo {
    height: 45px;
    width: 25vw;
    background-image: url(../assets/logo/logodesktop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  nav {
    width: 50%;

    ul {
      display: flex;
      justify-content: space-around;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      color: $c-black;

      li:hover {
        font-weight: 600;
        font-size: 0.97rem;
      }
    }
  }

  .split br {
    background-color: transparent;
  }
}

.split {
  background-color: $c-lightgreen;
  height: 10px;
  width: 100%;
}

.selected {
  color: $c-green !important;
  font-weight: bold;
  font-size: 0.97rem;
}

@media (max-width: 600px) {
  header {
    padding: 10px;

    .logo {
      height: 45px;
      width: 20vw;
      background-image: url(../assets/logo/logomobile.png);
    }

    nav {
      width: 75%;
    }

    ul {
      justify-content: right;
      font-size: small;

      li {
        margin: 5px;
        text-align: center;
      }
    }
  }

  .selected {
    font-size: small;
  }
}
