.portada__info {
  background-color: #fcfcfc80;
  text-align: center;
  padding: 15px;
  border-radius: 10px;

  h1 {
    font-size: 3rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: $c-black;
  }

  h2 {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: $c-black;
  }
}
@media (max-width: 600px) {
  .portada__info {
    h1 {
      font-size: 2.5rem;
    }
    h2 {
      font-size: 1.2rem;
    }
  }
}
