* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

footer a {
  color: $c-white !important;
}

a {
  text-decoration: none;
  color: $c-black;
  &:visited {
    text-decoration: none;
    color: $c-black;
  }
}
